<p id="notice"><%= notice %></p>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-1">
          <h1>
            <% if post.score == nil %>
              0
            <% else %>
              <%= post.score %>
            <% end %>
          </h1>
          <% if user_signed_in? %>
          <%= link_to upvote_path(id: post.id) do %>
            <p class="glyphicon glyphicon-thumbs-up"></p>
          <% end %>
          <%= link_to downvote_path(id: post.id) do %>
          <p class="glyphicon glyphicon-thumbs-down"></p>
          <% end %>
          <% end %>
        </div>
        <div class="col-xs-11">
          <h2><%= link_to post.title, post.url, target: "blank" %></h2>
          <p>submitted <%= time_ago_in_words(post.created_at) %> ago by <strong><%= post.user.email %></strong></p>
          
          <% if user_signed_in? %>
          <% if post.user_id == current_user.id %>
            <p>
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
          <% end %>
         </div>
        </div>
      </div>
    <% end %>
  </div>

<%#= link_to 'New Post', new_post_path %>
